.bg-navy {
	background-color:#001f3f
}

.bg-blue {
	background-color:#0074d9
}

.bg-aqua {
	background-color:#7fdbff
}

.bg-teal {
	background-color:#39cccc
}

.bg-olive {
	background-color:#3d9970
}

.bg-green {
	background-color:#2ecc40
}

.bg-lime {
	background-color:#01ff70
}

.bg-yellow {
	background-color:#ffdc00
}

.bg-orange {
	background-color:#ff851b
}

.bg-red {
	background-color:#ff4136
}

.bg-fuchsia {
	background-color:#f012be
}

.bg-purple {
	background-color:#b10dc9
}

.bg-maroon {
	background-color:#85144b
}

.bg-white {
	background-color:#fff
}

.bg-gray {
	background-color:#aaa
}

.bg-silver {
	background-color:#ddd
}

.bg-black {
	background-color:#111
}