h1 {
	font-size:2em;
}

h2 {
	font-size:1.5em;
}

h3 {
	font-size:1.17em;
}

h4 {
	font-size:1em;
}

h5 {
	font-size:0.83em;
}

h6 {
	font-size:0.75em;
}

p {
	margin:1em 0;
	
	line-height:1.5;
}

strong {
	font-weight:bold;
}

em {
	font-style:italic;
}

ul {
	margin:1em 0;
}

li {
	margin:0.5em auto;
}