.grid {
	display:block;
	position:relative;
	
	padding:5px;
	
	overflow:hidden;
}

.grid .unit {
	display:block;
	position:relative;
	float:left;
	
	width:25%;
}

.grid .unit.wrap {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:5px;
}

.grid .unit .wrap {
	padding:5px;
}